* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Arial, Helvetica, sans-serif;
    color: #333328;
}

h1, h2 {
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.625em;
    letter-spacing: -2px;
}

h2 {
    font-size: 2.625em;
    letter-spacing: -1px;
    color: #3f3f3f;
}

p {
    padding: .75em 0;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #000;/*D68879*/
}

a:hover {
	text-decoration: none;
	color: #66F;/*333333*/
}

/* header */

#header, #intro, #intro2, #main, #bar, #footer {
    width: 100%;
    min-width: 1200px;
}

#header2, #intro3, #main2 {
    margin: 0 auto;
    width: 1200px;
}

#header {
    height: 200px;
    border-bottom: 1px solid #2B2D2D;
}

#header h1 {
    float: left;
    font: 4em "Kaushan Script", cursive;
    color: #E7E7E7;
    padding: 70px 0 0 40px;
}

#header h1 a {
    text-decoration: none;
    color: #E7E7E7;
}

/* menu */

#menu {
    float: right;
    padding-top: 10px;
}

#menu ul {
    list-style: none;
}

.ulInner{
    width: 900px;
}

#menu ul li {
    display: block;
    float: left;
    padding-right: 50px;
}

#menu ul li a {
    display: block;
    float: left;
    font: 22px/30px "Titillium Web", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:#000;/*C55847*/
}

#menu ul li a:hover {
    color: rgb(5, 71, 141);/*C&534D*/
}


/* intro */

#intro {
    background-color: rgb(5, 71, 141);
    border-bottom: 1px solid #373939;
}

#intro2 {
    padding: 50px 0;
}

#intro3 img{
    width: 1200px;
    height: auto;
}

#intro4 {
    padding: 10px;
	border-style:double; 
    border-top:5px solid #000;     
    border-bottom:5px solid #000;
    -moz-box-shadow:5px 5px 5px 5px 5px #777777;
    -webkit-box-shadow:5px 5px 5px 5px #777777;
    box-shadow:5px 5px 5px 5px #777777;
}

/* main */

#main {
    background: #ffffef;
	
}
#main img {
    border: 7px solid #555757;
}

/* content */

#content {
    float: left;
    width: 770px;
    padding: 10px 0 20px 10px;
}

#content .post {
    padding: 0 0 .5em 0;
}

#content .entry {
    padding-top: .5em;
}

#content h2 a {
    color: #3f3f3f;
    text-decoration: none;
}

p.postmeta {
    color: #A5A6A6;
}

p.readmore a {
    display: block;
    height: 32px;
    text-align: center;
    text-decoration: none;
    line-height: 32px;
    background: #484A4B;
    border: 1px solid #434646;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

p.readmore a:hover {
    color: #66F;
    background: #4C4F50;
    border: 1px solid #48494A;
}

#content p.readmore, #bar p.readmore {
    padding: 2em 2em 0 0;
    text-align: right;
}

#content p.readmore a, #bar p.readmore {
    float: right;
    width: 110px;
    margin-bottom: .5em;
}

/* sidebar */

.countdownHolder{
    width: 310px;
}
#jquery-countdown-timer-note{
    width: 310px;
}

.block-jquery-countdown-timer{
    border: 7px solid rgb(231, 71, 72);
    margin-bottom: 30px;
    height: 90px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

#sidebar {
    float: right;
    width: 340px;
    padding: 30px 10px 20px 0;
}

#sidebar h2, #bar h2 {
    font-size: 2em;
    letter-spacing: -1px;
}

#sidebar ul {
    list-style: none;
    margin: 2.25em 0 2.75em 0;
}

#sidebar ul li {
    padding: .2em 0 .2em 30px;
    line-height: 3em;
}

.box {
    margin-bottom: 3em;
}

.imgsmall {
    clear: both;
    padding-bottom: 1.5em;
}

.left {
    display: block;
    float: left;
}

.imgsmall .left {
    width: 104px;
}

.right {
    display: block;
    float: right;
}

.imgsmall .right {
    width: 215px;
}

#sidebar p.readmore {
    width: 80px;
    padding: 20px 0 0 0;
}

/* bar */

#bar {
    clear: both;
    background: rgb(5, 71, 141);
    border-top: 1px solid #373939;
}

#bar2 {
    margin: 0 auto;
    width: 1190px;
    padding: 10px  0 10px 10px;
}

.col {
    float: left;
    width: 360px;
    padding-right: 50px;
	color: #ffffef;
}

.col h2 {
	color: #ffffef;
}

.lastcol {
    padding-right: 0!important;
	color: #ffffef;
}

.lastcol h2 {
	color: #ffffef;
}

#bar h2 {
    padding: 0 0 1em 7px;
}

#bar img {
    margin-bottom: 1em;
    border: 7px solid #4A4E4E;
}

.clearing {
    clear: both;
    height: 1px;
    overflow: hidden;
}

.clearingBottom {
	clear: both;
	height: 0;
	overflow: hidden;
}
/* footer */

#footer {
    clear: both;
    padding: 10px 0 10px 0;
    border-top: 1px solid #2B2D2D;
    background-color: black;
    background: linear-gradient(to bottom, #222, black) ;
}

#footer p {
    text-align: center;
    color: #BBB;
}
